.category__background {
    width: 100%;
    height: 448px;
    background-color: #F4F0F8;
}

.category__page__title__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 128px;
    row-gap: 20px;
}

.category__title {
    color: #232536;
    text-align: center;
    font-family: 'Sen';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
}

.category__title__text {
    max-width: 515px;
    width: 100%;
    color: #6D6E76;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.catigory__blog {
    color: #232536;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.search_bog_input {
    margin-top: -47px;
    margin-bottom: 57px;
}

.category__background {
    text-align: center;
}

.news__about__big__wrapper img {
    width: 447.65px;
    height: 312px;
}

#articleContainer {
    display: flex;
    column-gap: 48px;
    row-gap: 32px;
}

.allNews {
    display: flex;
    column-gap: 48px;
    row-gap: 32px;
    flex-wrap: wrap;
}

@media(max-width:768px) {
    .allNews {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.pagination button {
    max-width: 73px;
    width: 100%;
    height: 32px;
    margin-top: 100px;
    text-align: center;
    border: 0;
    background-color: #6D6E76;
    color: #232536;
    text-align: center;
    font-family: 'Sen';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}