@font-face {
    font-family: 'Inter', sans-serif;
    src: url(/fonst/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter-Bold', sans-serif;
    src: url(/fonst/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Inter-ExtraBold', sans-serif;
    src: url(/fonst/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: 'Sen';
    src: url(/fonst/Sen-Bold.ttf);
}