#register__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    width: 100%;
    row-gap: 19px;
}

#registerBtn {
    width: 768px;
    height: 64px;
    flex-shrink: 0;
    background-color: #FFD050;
    border: 0;
    margin-top: 90px;
    font-family: 'Sen';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: #232536;
}

#registerBtn:active {
    background-color: aliceblue;
    transition: 0.2s;
}

#register__form input {
    max-width: 768px;
    width: 100%;
    height: 76px;
    font-family: 'Inter', sans-serif;
}

::placeholder {
    font-family: 'Inter', sans-serif;
}

.register__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 128px;
    margin-bottom: 20px;
}

#register__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    width: 100%;
    row-gap: 19px;
}

#registerBtn {
    width: 768px;
    height: 64px;
    flex-shrink: 0;
    background-color: #FFD050;
    border: 0;
    margin-top: 90px;
    font-family: 'Sen';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: #232536;
    margin-top: 0;
}

#registerBtn:active {
    background-color: aliceblue;
    transition: 0.2s;
}

.register__title {
    color: #232536;
    text-align: center;
    font-family: 'Sen';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    margin-bottom: 20px;
}

.error {
    border: 2px solid red;
    margin-top: 30px;
}

.success {
    border: 2px solid green;
    margin-top: 30px;
}

.masegewrapp {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    margin-top: 200px;
}

@media(max-width:538px) {
    #register__form input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #000;
        max-width: 400px;
        border-radius: 0px;
        font-size: 18px;
    }
     ::placeholder {
        font-family: Algerian;
        color: #303a81;
    }
}